.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  padding-top: 20px;
}

.content {
  border-radius: 30px;
  width: 720px;
  height: 530px;
  background: #f8f8f8;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageWrapper {
  border-radius: 30px;
  width: 568px;
  height: 530px;

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imageWrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-family: var(--font-geist-sans);
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 32px;
}

.title span {
  font-style: italic;
  font-weight: 400;
  background: #fbe9ba;
  padding: 0 4px;
  border-radius: 4px;
}

.text {
  font-family: var(--font-geist-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 64px;
  max-width: 460px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 267px;
  height: 60px;
  background: #f4c550;
  border-radius: 12px;
  padding-block: 16px;
  padding-inline: 88px;
  font-family: var(--font-geist-sans);
  font-weight: 600;
  font-size: 18px;
  color: #121417;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
