@import "tailwindcss";

/* Прибираємо змінні теми та dark mode */
body {
  background: #f9fafb;
  color: #121417;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 64px;
}

/* Reset для уніфікації */
* {
  box-sizing: border-box;
}
